
:root{
    --font-size:10px;
}

html{
    font-size:calc(var(--font-size) * 0.0088);
}
body{
    font-family: 'Montserrat', sans-serif;
    border-bottom: 6px solid $prim-color;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover{
    text-decoration: none;
    color: inherit;
}



@media only screen and (max-width:500px){
    section{
        h2{
            font-size: 6.5rem;
            line-height: 8rem;
        }
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (                min-resolution: 192dpi) and (min-width: 700px),
only screen and (                min-resolution: 2dppx)  and (min-width: 700px) { 

  html{
    //   font-size: 72.5%
  }
    
}



