.card {
    padding: 34.4px 44.78px;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: 10px solid transparent;
    &--left-border {
        border-left-color: $prim-color;
    }
    &--right-border {
        border-right-color: $prim-color;
    }
    &>p {
        font-size: 3.2rem;
        color: $sec-color;
    }
}

.btn-c {
    font-size: 2.4rem;
    padding: 2.5rem 4.5rem;
    border: 2px solid $prim-color;
    border-radius: 10px;
    text-align: center;
    &--fill {
        background-color: $prim-color;
        color: white;
    }
    &--transp {
        background-color: transparent;
        color: $prim-color;
    }
}

.wrapper {
    max-width: 1170px;
    padding: 0 15px;
    margin:-65vh auto 0 auto;
    position: relative;
}
