
.cup-section{
    margin-top: 15rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 470px;
    &>#cup,#water{
        position: absolute;  
    }
    &>#cup{
        left: calc(45% - (271px / 2));
        top: calc(40% - (460px / 2));
        z-index: 3;
    }
    &>#water{
        left: calc(45% - (656px / 2));
        top: calc(60% - (476px / 2));
        z-index: 1;
    }
    & ul{
        list-style-type: none;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        &>li{
            position: relative;
            border-radius: 10px;
            z-index: 2;
            &::after{
                content:' ';
                position: absolute;
                width: 0.5rem;
                top: 0;
                bottom: 0;
                background-color: $prim-color;
            }
            &>p{
                font-size: 2.4rem;
                color:$sec-color;
                margin: 0;
               
            }
            &>img{
                position: absolute;
                top: 50%;
            }
        }
    }
    &__ul--left{
        &>li{
            &::after{
               border-top-right-radius: 10px;
               border-bottom-right-radius: 10px;
               right: 0;
            }
            &>img{
                left: 100%;
                transform: translateY(-50%)
             }
             &>p{
               padding: 0 2.5rem 0 0;
               text-align: right;
             }
        }
        
    }
   

    &__ul--right{
        &>li{
            &::after{
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                left: 0;
             }
            &>img{
                right: 100%;
                transform: translateY(-50%) rotate(180deg)
            }
            &>p{
                padding: 0 0 0 2.5rem;
            }
        }
        
    }
}

@media only screen and (max-width: 800px){
    .fifth-section{
        
        &>figure{
            flex-basis: 48%;
        }}
  }

  @media screen and (max-width:500px){
    .cup-section{
        &>#cup{
            left: calc(60% - (63% / 2));
            top: calc(47% - (50% / 2));
            width: 45%;
        }
        &>#water{
            left: calc(33% - (63% / 2));
            top: calc(66% - (50% / 2));
            width: 100%;
        }
        &__ul--left,&__ul--right{
            width: 35%;
            justify-content: center;
            li>img{
                width: 60%;
            }
        }
    }
}