.fifth-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &>figure{
        flex-basis: 32%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2rem;
        padding: 4.4rem 4.4rem !important;
        &>img{
            margin-right: 3rem ;
        }
        &>figcaption{
            font-weight: 400;
            font-size: 2rem;
            line-height: 2.4rem;
            color: $sec-color;
        }
    }
}