.fifth-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &>figure{
        flex-basis: 32%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2rem;
        padding: 4.4rem 4.4rem !important;
        cursor: pointer;
        transition: .5s ease-in-out;
        will-change: transform;
        &:hover{
          transform: scale(1.1);
        }
        &>img{
            width: 50%;
            margin-right: 3rem ;
        }
        &>figcaption{
            font-weight: 400;
            font-size: 2rem;
            line-height: 2.4rem;
            color: $sec-color;
            
        }
    }
}


@media only screen and (max-width: 800px){
    .fifth-section{
        
        &>figure{
            flex-basis: 48%;
        }}
  }
