.first-section {
    position: relative;
    &>img {
        width: calc(30px + 100%);
        position: absolute;
        top: 0;
        left: -15px;
        z-index: 0;
    }
    &__heading {
        font-size: 5.4rem;
        color: $sec-color;
        width: 35%;
        padding-top: 3rem;
        position: relative;
    }
    &__bg {
        width: 100%;
        position: absolute;
    }
    &__button-box {
        padding-top: 14rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }
    &__descrip {
        font-size: 3.2rem;
        color: $sec-color;
        opacity: .8;
        text-transform: uppercase;
        width: 35%;
        padding-top: 3rem;
    }
}

@media only screen and (max-width:500px) {
    .first-section__button-box {
        padding-top: 20rem;
    }
}