.fourth-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    &__heading{
        flex-basis: 100%;
        margin: 15rem 0 4.8rem 0;
    }
    &__img{
        flex-basis: 55%;
        img{
            width: 100%;
        }
    }
    & .card{
        flex-basis: 40%;
        margin-top: 30rem;
        transition: .5s ease-in-out;
        will-change: transform;
        margin-top: 11rem;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }
}

@media only screen and (max-width: 1200px) {
    .fourth-section{
        &__img{
            flex-basis: 100%;
            order: 1;
        }
        &.card.card--left-border{
            flex-basis: 100%;
            order: 2;
            margin:6rem 0 0 0;
        }
    }
  }