.third-section {
  display: flex;
  flex-flow: row wrap;
  

  &__props--keys,
  &__props--values {
      border-radius: 10px;
      padding: 4.7rem 3.7rem 3.1rem 3.7rem ;
      flex-basis: 40%;
    & li > p {
      font-size: 2.4rem;
      line-height: 2.9rem;
      color: $sec-color;
    }
  }
  &__props--keys {
    & li > p {
      font-weight: 600;
      text-align: right;
    }
  }

  &__props--values {
    background-color: rgba($color: $sec-color, $alpha: 0.05) ;
  }
  &__icons {
    display: flex;
    justify-content: center;
    margin-left: -25%;
    padding: 4.7rem 3.7rem 4.7rem 3.7rem ;
    &>figure{
        width: 20%;
        text-align: center;
        &:not(:last-child){
            margin-right: 20px;
        }
        &>figcaption{
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            margin-top: 1.7rem;
        }
    }
  }
}
